.container {
  position: absolute;
  background-image: url("https://lh3.googleusercontent.com/drive-viewer/AJc5JmT01tLgnnWojsJIlTrd-RHAfyDuNIWL-6993Jd3OHp-Dfg29vtoKNa0bFgHPn9lAWCTy3BqjgY=w2560-h1272");
  width: 90px;
  height: 100px;
  top: 15px;
  left: 19px;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
