.container {
  position: absolute;
  top: 125px;
  left: 42px;
  transform: scale(1.05);
  opacity: 0.8;
}

.container::before {
  content: "";
  position: absolute;
  background-color: #6aa615;
  width: 100%;
  height: 30%;
  top: 2px;
  left: 0;
  z-index: -1;
}
