.container {
  width: 65px;
  height: 80px;
  border: 2px solid #d7d9ce;
  position: absolute;
  right: 15px;
  top: 15px;
  overflow: hidden;
}

.text {
  background-color: #d7d9ce;
  font-weight: 800;
  line-height: 16px;
  margin-top: -1px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkred;
  text-transform: uppercase;
}

.flag {
  width: 65px;
  height: 65px;
  background-image: var(--flag-url);
  background-size: cover;
  background-position: center;
}
